.carousel {
    position: relative;
    overflow: hidden;
    width: 390px;
}

.carousel-control {
    position: absolute;
    top: 50%;
    display: block;
    padding: 0;
    background: #ddd;
    border-radius: 15px;
    border: 1px solid gray;
    font-size: 24px;
    line-height: 24px;
    color: #444;
    transform: translateY(-50%);
}

.carousel-control:focus {
    outline: none;
}

.carousel-control:hover {
    background: #ccc;
    cursor: pointer;
}

.carousel-control--next {
    right: 0;
}

.carousel-track {
    height: 130px;
    width: 9999px;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0;
    transition: transform .3s ease-in-out;
}

.carousel-track img {
    width: 130px;
    height: 130px;
    display: block; /* убираем пустое место вокруг картинок */
}

.carousel-slide {
    display: inline-block; /* убираем пустое место между элементами списка */
}