#mocha {
    margin: 0 !important;
}

#mocha-stats {
    display: none;
}

#mocha code .number {
    color: #2f6fad;
    margin: 0;
    display: inline;
    font-size: 12px;
    padding: 0;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
    color: #905;
    font-size: 1rem;
    display: inline;
    padding: 0;
    margin: 0;
}