table {
    border-collapse: collapse;
}

td,
th {
    border: 1px solid black;
    padding: 3px;
    text-align: center;
}

th {
    font-weight: bold;
    background-color: #E6E6E6;
}

td {
    color: #ccc;
}

.current-month {
    color: black;
}

.controls {
    padding: 10px 0;
}