.content table {
    border-collapse: unset;
    border-spacing: 2px;
}

.content table, .content table td {
    border: 1px solid #cecece;
    padding: 10px;
}

thead {
    font-weight: 700;
}

.male td {
    background-color: #65bff3;
}

.female td {
    background-color: #932bb3;
}

.content table tr.available td {
    border: 2px solid green;
}

.content table tr.unavailable td {
    border: 2px solid red;
}