#field {
    position: relative;
    width: 200px;
    height: 150px;
    border: 10px solid black;
    background-color: #00FF00;
    overflow: hidden;
    cursor: pointer;
    user-select: none;
}

#ball {
    position: absolute;
    left: 0;
    top: 0;
    transition: transform .3s ease-in-out;
}